- if flash[:notice]
  .alert-box-hidden
    %p.message= flash[:notice]
    %i.icon.ion-ios-close-empty
#maingame 
  .question-box
    - (1..8).each do |i|
      
      - if i == @question_num
        - divclass = 'selected'
        - childclass = 'ion-help'
        
      - elsif @question_array[i-1] == 'correct'
        - divclass = ''
        - childclass = 'ion-checkmark-round'
        
      - elsif @question_array[i-1] == 'wrong'
        - divclass = ''
        - childclass = 'ion-close-round'
        
      - else
        - divclass = ''
        - childclass = 'ion-help'
    
      %div.child{:class => divclass}
        %i.icon{:class => childclass, :id => @question_array[i]}
  #status-box
    %i.icon.ion-ios-pause
    .bar-box
      Get Ready ...
  .answers-box
    %form{:id => "my-answers", :action => "/games", :method => "post"}
      - @songs_choices.each_with_index do |song, index|
        .answer
          %div #{index + 1}
          %input{:name => "artist", :type => "radio", :value => "#{song[0]}", :id => "artist#{index + 1}"}/
          %label{:for => "artist#{index + 1}"} #{song[0]}
      %button.game-btn.hide-me{:type => "submit", :id => "submit"}
        %i.icon.ion-android-checkmark-circle
        Submit Answer
      %input{:type=>"hidden", :name=>"authenticity_token", :value=>form_authenticity_token.to_s}

      
%audio#uncletom{:src => "#{@sound_string}"}
  Your browser does not support the
  %code audio
  element. Sad!

= javascript_include_tag 'game'